<html>
  <head>
    <title>Django Skeleton</title>
  </head>
  <body id="a">
    <a href="/logout/" style="float:right">Logout</a>
    <h1>It works!</h1>
    <p>This is the default web page for this site.</p>
    <p>The web site is running on a local server. No content has been added, yet.</p>
    <script type="text/javascript" src="/static/js/utils/utils.js"></script>
    <script type="text/javascript" src="/static/js/models/baseClass.js"></script>
    <script type="text/javascript" src="/static/js/controllers/abc.js"></script>
  </body>
</html>
