<html>
  <head>
    <title>Django Skeleton</title>
  </head>
  <body>
  {% block content %}
    {# {% load url from future %} // you have to checkout jinja for a url function or tag before you are able to use this #}
    <p>You're receiving this e-mail because you requested a password reset for your user account at {{ site_name }}.</p>
    <p>Please go to the following page and choose a new password:</p>
    
    {% block reset_link %}
      {{ protocol }}://{{ domain }}{{ "django.contrib.auth.views.password_reset_confirm"|url(uid, token) }}
      {# {{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %} #}
    {% endblock %}
    
    <p>Your username, in case you've forgotten: {{ user.username }}</p>

    <p>Thanks for using our site!</p>
    <p>The {{ site_name }} team</p>
    <p><a href="{{ login_url }}">'Log in'</a></p>
  {% endblock %}
  </body>
</html>